.container {
  padding: 20px;
  background-color: white;
  text-align: center;
}
.addButtonCategory{
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 7px;
  padding: 7px 10px;
  z-index: 999;
}
.addButton {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  z-index: 1000;
}

.addButton:hover {
  background-color: darkgreen;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  background-color: #eee;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
}
.addCategoriaButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.2s;
}

.addCategoriaButton:hover {
  background-color: #0056b3;
}
